.benefits {
  display: flex;
  gap: 30px;
  align-items: baseline;
  flex-wrap: wrap;
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.benefits__item {
  max-width: 100%;
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.benefits__icon-box {
  background: var(--secendory-background);
  border-radius: 4px;
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefits__title {
  margin-top: 30px;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secendory-color-text);
  @media screen and (max-width: 768px) {
    text-align: center;
  }
}

.benefits__text {
  color: var(--main-color-text);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
