.hero {
  background: var(--main-backgroung);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero-bg-mobile.jpg);
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/hero-bg-mobile@2x.jpg");
  }
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-bg-tablet.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero/hero-bg-tablet@2x.jpg");
    }
    @media screen and (min-width: 1200px) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/hero-bg-pc.jpg);
      max-width: 1600px;
      padding-top: 200px;
      padding-bottom: 200px;
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url("../images/hero/hero-bg-pc@2x.jpg");
      }
    }
  }
}
.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.hero__title {
  display: block;
  max-width: 670px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-light);

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 370px;
    font-size: 26px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 44px;
  }
}
