.team__section {
  background-color: var(--secendory-background);
}

.team__list {
  display: flex;
  gap: 30px;
}

.team__item {
  flex-basis: calc((100% - 90px) / 4);
  background-color: var(--text-light);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__worker {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secendory-color-text);
}

.team__profession {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color-text);
}
