.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-accent);
  letter-spacing: 0.03em;
}

.logo--dark {
  color: var(--text-dark);
}

.logo--light {
  color: var(--text-light);
}
