.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
}

.modal {
  transform: scalex(1) scaleY(1);

  width: 528px;
  min-height: 581px;

  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 1500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__exit {
  position: fixed;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;

  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--color-accent);
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: scalex(0.8) scaleY(0.4) rotate(5turn);
}

.form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1, 15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secendory-color-text);
}

.form__text {
  font-weight: 400;
  margin-bottom: 4px;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--main-color-text);
}

.form__field {
  margin-bottom: 10px;
}
.form-field:nth-child(4) {
  margin-bottom: 20px;
}

.form-field:nth-child(5) {
  margin-bottom: 30px;
}

.form__label {
  display: flex;
  flex-direction: column;
}
.form__input,
.form__textarea {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;

  &:focus {
    outline: none;
    border-color: var(--color-accent);
  }
}

.form__input {
  padding: 12px 38px;
  height: 100%;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__warp {
  position: relative;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 11px;
  transform: translateY(-50%);
  color: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea {
  height: 120px;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.check {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.check__icon {
  width: 16px;
  height: 15px;
  background-image: url(../images/check.svg);
}
.check:checked + .check__icon {
  background-image: url(../images/checked.svg);
}
.form__warp--checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
}

.check__label {
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--main-color-text);
}

.check__link {
  color: var(--color-accent);

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.form-warp {
  display: flex;
  justify-content: center;
}

.form__warp:focus-within svg {
  fill: var(--color-accent);
}

.form__btn {
  display: flex;
  justify-content: center;
}
