.soc {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.soc__item {
  width: 44px;
  height: 44px;
}

.soc__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus,
  &:active {
    background-color: var(--color-accent);
  }
}

.soc__icon--gray {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .soc__link:hover & {
    fill: #ffffff;
  }
}

.footer__soc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin-left: 70px;
}

.soc__icon--light {
  fill: var(--text-light);
}

.soc__link--gray {
  background-color: var(--footer-soc-icon-background);

  &:hover .soc__icon--gray,
  &:focus .soc__icon--gray,
  &:active .soc__icon--gray {
    fill: #ffffff;
  }
}
