:root {
  --color-accent: #2196f3;
  --main-color-text: #757575;
  --secendory-color-text: #212121;
  --text-dark: #000000;
  --text-light: #ffffff;
  --main-backgroung: #2f303a;
  --secendory-background: #f5f4fa;
  --adress-color: rgba(255, 255, 255, 0.6);
  --secendory-btn-accent: #188ce8;
  --icon-color: #afb1b8;
  --footer-soc-icon-background: rgba(255, 255, 255, 0.1);
}
